* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
	font-family: 'Questrial', sans-serif;
}

head {
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
}

html {
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
}

a {
	color: #ed4223;
	text-decoration: none;
}

pre {
	display: block;
	font-family: Consolas,Monaco,'Andale Mono',monospace;
    padding: 20px;
    margin: 30px 0px 30px 0px;
    background: #e8e8e8;
    font-size: 10pt;
    color: #455463;
    overflow: auto;
	border: 2px solid #d3d3d3;
}

.title-container {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 320px;
	height: 120px;
	font-size: 30pt;
	line-height: 120px;
	font-weight: 900;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	background-color: #e8e8e8;
	color: #ed4223;
}

.search-field {
	position: fixed;
	display: block;
	top: 120px;
	left: 0;
	width: 320px;
	height: 40px;
	font-size: 18pt;
	line-height: 40px;
	text-align: left;
	cursor: text;
	background-color: #d3d3d3;
    border: 0px solid #00000000;
    border-radius: 0px;
    box-sizing: border-box;
	padding-left: 20px;
}

.navigation-container {
	position: fixed;
	display: block;
	top: 160px;
	left: 0;
	bottom: 0;
	width: 320px;
	background-color: #f7f7f7;
	overflow-y: scroll;
	padding-top: 10px;
}

.navigation-block {
	padding-left: 20px;
	width: auto;
	height: auto;
}

.navigation-item {
	display: block;
	width: 100%;
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	color: #000000;
	transition: color 0.2s, padding-left 0.2s;
}

.navigation-item:before {
   content: "\2022    ";
}

.navigation-item:hover {
	padding-left: 5px;
	color: #ed4223;
}

.navigation-item-active {
	display: block;
	width: 100%;
	height: 30px;
	cursor: pointer;
	font-weight: 900;
	text-decoration: none;
	padding-left: 5px;
	color: #ed4223;
}

.navigation-item-active:before {
   content: "\2022    ";
}

.content-container {
	position: fixed;
	display: block;
	top: 0;
	left: 320px;
	bottom: 0;
	right: 0;
	padding: 40px;
	overflow-y: scroll;
}

.headline {
	text-align: left;
	font-size: 30pt;
	font-weight: 600;
	margin: 0px 0px 5px 0px;
}

.head-buffer {
	display: block;
	height: 50px;
}

.doc-type {
	display: inline-block;
	text-align: left;
	font-size: 10pt;
	line-height: 20px;
	padding: 0px 5px;
	height: 20px;
	font-weight: 600;
	color: #ffffff;
	background-color: #ed4223;
	margin-right: 5px;
}

.doc-extra {
	display: inline-block;
	text-align: left;
	font-size: 10pt;
	line-height: 20px;
	padding: 0px 5px;
	height: 20px;
	background-color: #e8e8e8;
	margin-right: 5px;
}

.basic-content {
	text-align: left;
	font-size: 12pt;
	line-height: 18pt;
	font-weight: 300;
}

h1 {
	text-align: left;
	font-size: 18pt;
	font-weight: 600;
	margin: 30px 0px 20px 0px;
}

.prop-table {
	border-spacing: 0px;
	width: 100%;
	text-align: left;
}

tr:nth-child(even) {
	background-color: #f7f7f7;
	min-height: 30px;
	vertical-align: middle;
}

tr:nth-child(odd) {
	background-color: #e8e8e8;
	min-height: 30px;
	vertical-align: middle;
}

th:nth-child(even) {
	padding: 5px;
	font-weight: 100;
}

th:nth-child(odd) {
	padding: 5px;
	font-weight: 600;
}

.search-title {
	display: block;
	margin: 15px 0px 0px 0px;
	width: auto;
	height: auto;
	cursor: pointer;
	font-weight: 600;
	font-size: 18pt;
	text-decoration: none;
	color: #000000;
	background-color: #e8e8e8;
	padding: 5px;
	transition: color 0.2s, padding-left 0.2s;
}

.search-title:hover {
	padding-left: 15px;
	color: #ed4223;
}

.search-description {
	font-weight: 100;
	font-size: 12pt;
	text-decoration: none;
	color: #656565;
}